#getstarted{
    button{
        padding: 18px 30px ;
        background-color: rgb(123, 163, 163);
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 10px;
    }
}